.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

input {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: right;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eee;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

h1 {
  margin-bottom: 20px;
}

div {
  font-size: 2rem;
  margin: 20px;
}
